/**/
/* font */
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/


/**/
/* defaults */
/**/

#title_internal {
	margin-top: 0px;
	margin-bottom: 20px;
	font: normal 2.5em 'GothamRoundedBook', sans-serif;
	color: #005EB8;
}
.sky-tabs,
.sky-tabs * {
	margin: 0;
	padding: 0;
	outline: none;
	/*border: 0;*/
	/*background: none;*/
}
.sky-tabs {
	position: relative;
	font-family: normal 'GothamRoundedBook', sans-serif;
	font-size: 0;
	text-align: left;
	color: #666;
}
.sky-tabs strong {
	color: #005EB8;
}
.sky-tabs .table-calc {
	margin-bottom: 30px;
}
.sky-tabs .table-brange {
	margin-bottom: 10px;
	margin-top: 10px;
}
.sky-tabs .table-calc input {
	border: 2px solid #FFC600;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: normal 15px 'GothamRoundedBook', sans-serif;
	text-align: right;
}
@media (min-width: 565px) {
	.sky-tabs .table-calc input[type="range"], .sky-tabs .table-calc a {
		margin-left:0;
	}
}
@media (min-width: 566px) {
	.sky-tabs .table-calc input[type="range"], .sky-tabs .table-calc a {
		margin-left:85px;
	}
}
.sky-tabs .typography th,  .sky-tabs .typography td{
	text-align: center;
	font: normal 13px'GothamRoundedLight', sans-serif;
	font-weight: 600;
}
.sky-tabs .typography th {
	font-weight: 700;
	font: normal 15px 'GothamRoundedBook', sans-serif;
	background-color: #FFC600;
}
.col-padding {
	/*border-left: 1px solid rgba(0, 0, 0, 0.6);*/
	text-align: center;
	padding-left: 50px;
}
.left {
	text-align: left;
}
.tabs-content {
	margin: 0 15px 0;
}
.sky-tabs .table-calc input[type="range"]{
	display: inline-block;
	width: 70%;
	border: none;
	-webkit-appearance: none;
	background-color: #005EB8;
	height: 2px;
}
.sky-tabs .table-calc input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
    width: 15px;
    height: 15px;
 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC600), color-stop(50%,#c6a01e), color-stop(51%,#c6a01e), color-stop(100%,#FFC600));
}
.sky-tabs .table-calc .label-calc {
	display: inline;
	margin-right: 5px;
	font: 15px/20px 'GothamRoundedLight', sans-serif;
}
.sky-tabs > input {
	position: absolute;
	display: none;
}
.sky-tabs > label {
	position: relative;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1px;
	padding-top: 0;
	padding-left: 0;
	font-size: 13px;
	line-height: 45px;
	cursor: pointer;
	font-weight: 100;
}
.sky-tabs > label.inverse {
	float: right;
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs > label.disabled {
	cursor: default;
}
.sky-tabs > label span {
	display: block;
	padding: 5px;
	background: #f5f5f5;
}
.panel-body > ul span {
	margin-left: 10px;
}
.panel-body > ul, .sky-tabs .typography > ol  {
	font: normal 1.1em 'GothamRoundedLight', sans-serif;
}
.panel-body > ul > ul {
	font-size: 1em;
}
.panel-body > ul > div {
	/*margin-bottom: 5px;*/
	margin: 10px;
	text-align: justify;
}
.panel-body > ul strong {
	font-family: 'GothamRoundedBook', sans-serif;
}
.panel-body > ul > div > div {
	margin-left: 25px;
}
.panel-body > ul > .clarification-text {
	margin-top: 10px;
}
.panel-body > ul > div > .icon-left {
	float: left;
	margin:0;
}
.link {
	color: #2a6496;
}
.link:hover, .link:focus {
	color: #FFC600;
}
.sky-tabs .typography .panel-body > ul > ul {
	margin: 0 0 0 25px;
}
.sky-tabs .commerce {
	/*border: 2px solid #FFC600;*/
	background: #6c8193;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}
.sky-tabs .commerce img {
	opacity: 0.7;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}
.panel-heading {
	padding: 10px 15px;
}
.sky-tabs .panel-heading {
	background-color: #005EB8;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.sky-tabs .panel-heading:hover {
	background-color: #FFC600;
}

.sky-tabs .typography .discount-box, .sky-tabs .typography .disclaimer-box {
	position: absolute;
	padding: 5px;
	left: 70%;
	top: 70%;
	background: #FFC600;
	border-radius: 10px;

	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	-ms-transition: opacity 300ms ease-out;
	-o-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

.sky-tabs .typography .disclaimer-box {
	left: 8%;
	top: 80%;
	border-radius: 2px;
	max-width: 50%;
	/*background: rgba(255, 255, 255, 0.7);*/
}

.sky-tabs .typography .discount-box h4 {
	font-size: 40px;
	line-height: 50px;
	color: #005EB8;
}

.sky-tabs .typography .disclaimer-box h4  {
	font-size: 15px;
	line-height: 15px;
	color: #005EB8;
}

.sky-tabs .typography .discount-box span,
.sky-tabs .typography .disclaimer-box span {
	font-size: 10px;
}

.benefits-img-animation {
	position: relative;
	animation: fadeInBottom 3s;
	-webkit-animation: fadeInBottom 3s;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -o-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		transform: translateY(-50px);
    }   
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
    }
}

@-webkit-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -o-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		transform: translateY(-50px);
    }   
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
    }
}

.promo {
	background-color: #FFF !important;
	text-align: center;
}

.sky-tabs .commerce img:hover {
	opacity: 1;
}
#commerce-h5 {
	text-align: center;
	color: #FFF;
	margin-bottom: 20px;
}
.legal-links {
	text-align: center;
	margin-bottom: 20px;
}
.sky-tabs .btn-flat {
	border: 2px solid #d6d3d3;
	font: normal 16px 'GothamRoundedBook', 'Open Sans', sans-serif;
	padding: 11px 27px;
	letter-spacing: normal;
	color: #005EB8;
	margin: 22px 14px 0 14px;
	min-width: 140px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.sky-tabs .btn-flat:hover, .sky-tabs .btn-flat:focus, .sky-tabs .btn-flat:active {
	border: 2px solid #FFC600;
	/*color: #242526;*/
}
.col-sm-1 {
	padding-bottom: 10px;
}
.col-sm-6 {
	padding-left: 15px;
	padding-right: 15px;
}
.sky-tabs > label span span {
	padding: 0 20px;
	background: transparent;
	transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
	-ms-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	-webkit-transition: background 0.4s, color 0.4s;	
}
.sky-tabs > label:hover span span {
	background: #005EB8;
	color: #fff;	
}
.sky-tabs > label.disabled span span {
	background: transparent;
	color: inherit;
}
.sky-tabs > input:checked + label {
	cursor: default;
}
.sky-tabs > input:checked + label span span {
	background: #FFC600;
	color: #fff;
}
.sky-tabs > .switcher {
	display: none;
}
.sky-tabs > .switcher a {
	display: block;
	margin: 0 -20px;
	padding: 0 20px;
	text-decoration: none;
	color: inherit;
}
.sky-tabs > ul {
	list-style: none;
	position: relative;
	display: block;
	font-size: 13px;
}
.sky-tabs > ul > li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	padding: 0 25px 25px 25px;
	background: rgba(245,245,245,0.9);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	/*display: none;*/
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: opacity 0.8s, -o-transform 0.8s;	
	-ms-transition: opacity 0.8s, -ms-transform 0.8s;	
	-moz-transition: opacity 0.8s, -moz-transform 0.8s;	
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}
.sky-tabs > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	position: relative;
	z-index: 1;
	opacity: 1;
	/*display: inherit;*/
}


/**/
/* positions */
/**/
.sky-tabs-pos-top-center {
	text-align: center;
}
.sky-tabs-pos-top-right {
	text-align: right;
}
.sky-tabs-pos-top-right > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-justify > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-2 > label {
	width: 50%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-3 > label {
	width: 33.33%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-4 > label {
	width: 25%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-5 > label {
	width: 20%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-6 > label {
	width: 16.66%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-7 > label {
	width: 14.28%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-8 > label {
	width: 12.5%;
}
.sky-tabs-pos-top-justify.sky-tabs-amount-9 > label {
	width: 11.11%;
}
.sky-tabs-pos-top-justify > input:first-child + label {
	padding-left: 0;
}
.sky-tabs-pos-left > label,
.sky-tabs-pos-right > label {
	display: block;
	width: 25%;
	float: left;
	clear: left;
	margin-right: 0;
}
.sky-tabs-pos-right > label {
	float: right;
	clear: right;
}
.sky-tabs-pos-left > ul {
	margin-left: 25%;
}
.sky-tabs-pos-right > ul {
	margin-right: 25%;
}
.sky-tabs-pos-right > label {
	padding-right: 0;
	padding-left: 1px;
}
.sky-tabs-pos-top-center > ul > li,
.sky-tabs-pos-top-justify > ul > li {
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
}
.sky-tabs-pos-right > ul > li,
.sky-tabs-pos-top-right > ul > li {
	-o-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
}


/**/
/* animations */
/**/
.sky-tabs-anim-slide-up > ul > li {
	-o-transform: translateY(-15%);
	-ms-transform: translateY(-15%);
	-moz-transform: translateY(-15%);
	-webkit-transform: translateY(-15%);
}
.sky-tabs-anim-slide-right > ul > li {
	-o-transform: translateX(15%);
	-ms-transform: translateX(15%);
	-moz-transform: translateX(15%);
	-webkit-transform: translateX(15%);
}
.sky-tabs-anim-slide-down > ul > li {
	-o-transform: translateY(15%);
	-ms-transform: translateY(15%);
	-moz-transform: translateY(15%);
	-webkit-transform: translateY(15%);
}
.sky-tabs-anim-slide-left > ul > li {
	-o-transform: translateX(-15%);
	-ms-transform: translateX(-15%);
	-moz-transform: translateX(-15%);
	-webkit-transform: translateX(-15%);
}
.sky-tabs-anim-slide-up-left > ul > li {
	-o-transform: translate(-15%,-15%);
	-ms-transform: translate(-15%,-15%);
	-moz-transform: translate(-15%,-15%);
	-webkit-transform: translate(-15%,-15%);
}
.sky-tabs-anim-slide-up-right > ul > li {
	-o-transform: translate(15%,-15%);
	-ms-transform: translate(15%,-15%);
	-moz-transform: translate(15%,-15%);
	-webkit-transform: translate(15%,-15%);	
}
.sky-tabs-anim-slide-down-right > ul > li {
	-o-transform: translate(15%,15%);
	-ms-transform: translate(15%,15%);
	-moz-transform: translate(15%,15%);
	-webkit-transform: translate(15%,15%);	
}
.sky-tabs-anim-slide-down-left > ul > li {
	-o-transform: translate(-15%,15%);
	-ms-transform: translate(-15%,15%);
	-moz-transform: translate(-15%,15%);
	-webkit-transform: translate(-15%,15%);	
}
.sky-tabs > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	-o-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}

.sky-tabs-anim-scale > ul > li {
	-o-transform: scale(0.1,0.1);
	-ms-transform: scale(0.1,0.1);
	-moz-transform: scale(0.1,0.1);
	-webkit-transform: scale(0.1,0.1);
}
.sky-tabs-anim-scale > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs-anim-scale > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs-anim-scale > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs-anim-scale > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs-anim-scale > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs-anim-scale > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs-anim-scale > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs-anim-scale > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs-anim-scale > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}

.sky-tabs-anim-rotate > ul > li {
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.sky-tabs-anim-rotate.sky-tabs-pos-right > ul > li,
.sky-tabs-anim-rotate.sky-tabs-pos-top-right > ul > li {
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.sky-tabs-anim-rotate > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs-anim-rotate > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs-anim-rotate > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs-anim-rotate > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs-anim-rotate > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs-anim-rotate > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs-anim-rotate > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs-anim-rotate > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs-anim-rotate > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.sky-tabs-anim-flip > ul {
	perspective: 2000px;
	-o-perspective: 2000px;
	-ms-perspective: 2000px;
	-moz-perspective: 2000px;
	-webkit-perspective: 2000px;
	perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-webkit-perspective-origin: 50% 50%;
}
.sky-tabs-anim-flip > ul > li {
	-o-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
}
.sky-tabs-anim-flip.sky-tabs-pos-left > ul > li {
	-o-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-webkit-transform: rotateY(90deg);	
}
.sky-tabs-anim-flip.sky-tabs-pos-right > ul > li {
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-webkit-transform: rotateY(-90deg);
}
.sky-tabs-anim-flip > .sky-tab-content-1:checked ~ ul > .sky-tab-content-1,
.sky-tabs-anim-flip > .sky-tab-content-2:checked ~ ul > .sky-tab-content-2,
.sky-tabs-anim-flip > .sky-tab-content-3:checked ~ ul > .sky-tab-content-3,
.sky-tabs-anim-flip > .sky-tab-content-4:checked ~ ul > .sky-tab-content-4,
.sky-tabs-anim-flip > .sky-tab-content-5:checked ~ ul > .sky-tab-content-5,
.sky-tabs-anim-flip > .sky-tab-content-6:checked ~ ul > .sky-tab-content-6,
.sky-tabs-anim-flip > .sky-tab-content-7:checked ~ ul > .sky-tab-content-7,
.sky-tabs-anim-flip > .sky-tab-content-8:checked ~ ul > .sky-tab-content-8,
.sky-tabs-anim-flip > .sky-tab-content-9:checked ~ ul > .sky-tab-content-9 {
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
}


/**/
/* grid system */
/**/
.sky-tabs .grid-row {
	margin-top: 20px;
}
.sky-tabs .grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.sky-tabs .grid-row:first-child {
	margin-top: 0;
}
.sky-tabs .grid-col {
	display: block;
	float: left;
	width: 100%;
	margin-left: 2%;
}
.sky-tabs .grid-col:first-child {
	margin-left: 0;
}
.sky-tabs .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
	text-align: center;
}
.sky-tabs .grid-col-1 {
	width: 6.5%;
}
.sky-tabs .grid-col-2 {
	width: 15%;
}
.sky-tabs .grid-col-3 {
	width: 23.5%;
}
.sky-tabs .grid-col-4 {
	width: 32%;
}
.sky-tabs .grid-col-5 {
	width: 40.5%;
}
.sky-tabs .grid-col-6 {
	width: 49%;
}
.sky-tabs .grid-col-7 {
	width: 57.5%;
}
.sky-tabs .grid-col-8 {
	width: 66%;
}
.sky-tabs .grid-col-9 {
	width: 74.5%;
}
.sky-tabs .grid-col-10 {
	width: 83%;
}
.sky-tabs .grid-col-11 {
	width: 91.5%;
}
.sky-tabs .grid-col-offset-1,
.sky-tabs .grid-col-offset-1:first-child {
	margin-left: 8.5%;
}
.sky-tabs .grid-col-offset-2,
.sky-tabs .grid-col-offset-2:first-child {
	margin-left: 17%;
}
.sky-tabs .grid-col-offset-3,
.sky-tabs .grid-col-offset-3:first-child {
	margin-left: 25.5%;
}
.sky-tabs .grid-col-offset-4,
.sky-tabs .grid-col-offset-4:first-child {
	margin-left: 34%;
}
.sky-tabs .grid-col-offset-5,
.sky-tabs .grid-col-offset-5:first-child {
	margin-left: 42.5%;
}
.sky-tabs .grid-col-offset-6,
.sky-tabs .grid-col-offset-6:first-child {
	margin-left: 51%;
}
.sky-tabs .grid-col-offset-7,
.sky-tabs .grid-col-offset-7:first-child {
	margin-left: 59.5%;
}
.sky-tabs .grid-col-offset-8,
.sky-tabs .grid-col-offset-8:first-child {
	margin-left: 68%;
}
.sky-tabs .grid-col-offset-9,
.sky-tabs .grid-col-offset-9:first-child {
	margin-left: 76.5%;
}
.sky-tabs .grid-col-offset-10,
.sky-tabs .grid-col-offset-10:first-child {
	margin-left: 85%;
}
.sky-tabs .grid-col-offset-11,
.sky-tabs .grid-col-offset-11:first-child {
	margin-left: 93.5%;
}


/**/
/* typography */
/**/
.sky-tabs .typography h1,
.sky-tabs .typography h2,
.sky-tabs .typography h3,
.sky-tabs .typography h4,
.sky-tabs .typography h5,
.sky-tabs .typography h6 {
	margin: 20px 0 0 0;
	padding: 0;
	text-align: left;
	color: #333;
}
.sky-tabs .typography h7 {
	font-weight: 700;
}
.sky-tabs .typography .panel-title {
	color: #FFF;
	text-align: center;
}
.sky-tabs .typography h1 {
	font-size: 30px;
	line-height: 50px;
	font-weight: 300;
	margin-bottom: 20px;
}
.sky-tabs .typography h2 {
	font-size: 34px;
	line-height: 44px;
	font-weight: 300;
}
.sky-tabs .typography h3 {
	font-size: 1.2em;
	line-height: 36px;
	font-weight: 300;
}
.sky-tabs .typography h4 {
	font-size: 22px;
	line-height: 30px;
	font-weight: 400;
}
.sky-tabs .typography h5 {
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	text-transform: uppercase;
}
.sky-tabs .typography h6 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.sky-tabs .typography p {
	margin: 20px 0 0 0;
	padding: 0;
	line-height: 20px;
	text-align: left;
}
.sky-tabs .typography ul,
.sky-tabs .typography ol {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	line-height: 20px;
}
.sky-tabs .typography ul ul,
.sky-tabs .typography ul ol  {
	margin: 0 0 0 20px;
}
.sky-tabs .typography li {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
.sky-tabs .typography li ul,
.sky-tabs .typography li ol {
	margin-top: 5px;
}
/*.sky-tabs .typography ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 4px;
	height: 4px;
	background: #333;
}*/
.sky-tabs .typography ol {
	counter-reset: list1;
}
.sky-tabs .typography ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
	color: #333;
}
.sky-tabs .typography a {
	/*text-decoration: underline;
	color: #2da5da;*/
}
.sky-tabs .typography a:hover {
	text-decoration: none;
}
.sky-tabs .typography .pic {
	padding: 4px;
	border: 1px dotted #ccc;
}
.sky-tabs .typography .pic img {
	display: block;
}
.sky-tabs .typography .pic-right {
	float: right;
	margin: 0 0 10px 20px;
}
/*.sky-tabs .typography .link {
	text-decoration: underline;
	color: #2da5da;
	cursor: pointer;
}*/
.sky-tabs .typography .link:hover {
	text-decoration: none;
}
.sky-tabs .typography h1:first-child,
.sky-tabs .typography h2:first-child,
.sky-tabs .typography h3:first-child,
.sky-tabs .typography h4:first-child,
.sky-tabs .typography h5:first-child,
.sky-tabs .typography h6:first-child,
.sky-tabs .typography p:first-child {
	margin-top: 0;
}
.sky-tabs .typography .text-center {
	text-align: center;
}
.sky-tabs .typography .text-right {
	text-align: right;
}


/**/
/* icons */
/**/
.sky-tabs > label .fa {
	display: block;
	float: left;
	width: 18px;
	margin: 0 12px 0 -6px;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


/**/
/* pad */
/**/
@media screen and (max-width: 1000px) {
	.sky-tabs > label span span {
		padding: 0 15px;
	}
	.sky-tabs > label .fa {
		margin-right: 10px;
		margin-left: -5px;
	}
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	
	.sky-tabs .grid-col,
	.sky-tabs .grid-col:first-child {
		float: none;
		width: 100%;
		margin: 20px 0 0 0;
	}
	
	.sky-tabs-response-to-stack > label {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.sky-tabs-response-to-stack > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.sky-tabs-response-to-stack > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
	}
	.sky-tabs-response-to-stack.sky-tabs-anim-flip > ul > li {
		-webkit-transform: rotateX(-90deg);
	}
	
	.sky-tabs-response-to-icons > label {
		font-size: 0;
	}
	.sky-tabs-response-to-icons > label .fa {
		width: 45px;
		margin: 0;
		font-size: 16px;
	}
	.sky-tabs-response-to-icons > label span span {
		padding: 0;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-left > label,
	.sky-tabs-response-to-icons.sky-tabs-pos-right > label {
		width: 56px;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-left > ul {
		margin-left: 56px;
	}
	.sky-tabs-response-to-icons.sky-tabs-pos-right > ul {
		margin-right: 56px;
	}
	
	.sky-tabs-response-to-switcher > label {
		display: none;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.sky-tabs-response-to-switcher > .switcher {
		display: block;
	}
	.sky-tabs-response-to-switcher:hover > label {
		display: block;
	}
	.sky-tabs-response-to-switcher:hover > .switcher {
		display: none;
	}
	.sky-tabs-response-to-switcher > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.sky-tabs-response-to-switcher > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
	}
	.sky-tabs-response-to-switcher.sky-tabs-anim-flip > ul > li {
		-webkit-transform: rotateX(-90deg);
	}
}

/*Menu and filter (move to cards.css later )*/

.filter li a {
	background-image: none;
	padding: 5px;

	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.filter li {
	
}

.filter li span {
	padding: 0 0 0 10px;
	transition: all 0.4s, color 0.4s;
	-o-transition: all 0.4s, color 0.4s;
	-ms-transition: all 0.4s, color 0.4s;
	-moz-transition: all 0.4s, color 0.4s;
	-webkit-transition: all 0.4s, color 0.4s;
}
.filter .active i {
	color: #FFC600;
}

.filter li:hover span {
	color: #005EB8;
}
.sky-tabs .dropdown-menu > li > a:hover,
.sky-tabs .dropdown-menu > li > a:active,
.sky-tabs .dropdown-menu > li > a:focus {
	background: #FFC600;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sky-tabs .dropdown-menu > li > a {
	font: normal 1em 'GothamRoundedBook', sans-serif;
	padding: 13px !important;
	text-align: center;
	color: #000;
	-webkit-transition: background 300ms ease-out;
	-moz-transition: background 300ms ease-out;
	-ms-transition: background 300ms ease-out;
	-o-transition: background 300ms ease-out;
	transition: background 300ms ease-out;
}

